<div *ngIf="orders && orders.length > 0; else noOrders">
    <h2>Order List</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Client Name</th>
          <th>Order Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.clientName }}</td>
          <td>{{ order.orderDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noOrders>
    <p>No orders available.</p>
  </ng-template>
  